body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/pushups.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 80%;
  border: 10px solid rgb(236, 20, 12);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
.blog1 {
  margin-bottom: 20px;
}
span {
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.paragraph {
  border-left: 5px solid #2370a5;
  padding-left: 5px;
  color: aqua;
}
h3 {
  font-size: 2rem;
  color: red;
}
h4 {
  font-size: 1rem;
  color: aliceblue;
}
.adtlist {
  color: aquamarine;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
